# {{ ansible_managed }}

DB_VENDOR={{ authentication_keycloak_db_vendor }}
DB_ADDR={{ authentication_keycloak_db_addr }}
DB_DATABASE={{ authentication_keycloak_db_database }}
DB_USER={{ authentication_keycloak_db_user }}
DB_PASSWORD={{ authentication_keycloak_db_password }}
KEYCLOAK_HOSTNAME={{ authentication_keycloak_hostname }}
KEYCLOAK_USER={{ authentication_keycloak_admin_user }}
KEYCLOAK_PASSWORD={{ authentication_keycloak_admin_password }}
PROXY_ADDRESS_FORWARDING={{ authentication_keycloak_proxy_address_forwarding }}
