#
# GENERAL
#
LDAP_BASE_DN={{ authentication_ldap_base_dn }}
LDAP_DOMAIN={{ authentication_ldap_domain }}
LDAP_LOG_LEVEL={{ authentication_ldap_log_level }}
LDAP_ORGANISATION={{ authentication_ldap_organization }}
LDAP_RFC2307BIS_SCHEMA={{ authentication_ldap_rfc2307bis_schema }}
HOSTNAME={{ authentication_ldap_hostname }}


#
# TLS
#
#LDAP_TLS=False
LDAP_TLS={{ authentication_ldap_tls }}


#
# CREDENTIALS
#
LDAP_ADMIN_PASSWORD={{ authentication_ldap_admin_password }}
LDAP_CONFIG_PASSWORD={{ authentication_ldap_config_password }}
LDAP_READONLY_USER={{ authentication_ldap_readonly_user }}
LDAP_READONLY_USER_USERNAME={{ authentication_ldap_readonly_user_username }}
LDAP_READONLY_USER_PASSWORD={{ authentication_ldap_readonly_user_password }}
