DATA_SOURCE_URI={{ authentication_postgres_exporter_data_source_uri }}
DATA_SOURCE_USER={{ authentication_postgres_exporter_data_source_user }}
DATA_SOURCE_PASS={{ authentication_postgres_exporter_data_source_pass }}
