# {{ ansible_managed }}

POSTGRES_DB={{ authentication_postgres_db }}
POSTGRES_USER={{ authentication_postgres_user }}
POSTGRES_PASSWORD={{ authentication_postgres_password }}
PGPASSWORD={{ authentication_postgres_password }}
